<!-- Bootstrap core JavaScript
================================================== -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
<!-- <script src="js/jquery-1.11.1.js"></script> -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
<!-- <script src="js/bootstrap.js"></script> -->

<!-- MailChimp Ajax Magic
================================================== -->
<script src="/js/jquery.ajaxchimp.js"></script>
<script>
  $('#mc-form').ajaxChimp({
    url: 'https://code4sac.us3.list-manage.com/subscribe/post?u=3938e5bd1ff827e6f3903ca84&amp;id=2d40fa1527'
  });
</script>
